<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.imh.pointMapper">
	
	
	<!-- 페이징 처리 후 전체조회 -->
	<select id="listCriteria" resultType="PointDTO">
		<![CDATA[
		select
		ptCode, orderNum,userId, ptCost, ptStart, ptExpire
		from point
		where ptCode > 0
		limit  #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="countPaging" resultType="java.lang.Integer">
		<![CDATA[
			select count(ptCode)
			from point
			where ptCode > 0
		]]>
	</select>
	
	<!--상세 조회 -->
	<select id="detail" parameterType="java.lang.Integer" resultType="PointDTO">
		select ptCode, orderNum,userId, ptCost, ptStart, ptExpire
		from point
		where ptCode=#{ptCode}
	</select>
	
	<!--  포인트적립 -->
	<insert id="regist" parameterType="PointDTO" >
		insert into point
		(orderNum, userId, ptCost, ptStart, ptExpire)
		values
		(#{orderNum}, #{userId}, #{ptCost}, #{ptStart}, #{ptExpire})
	</insert>
	
	<!--  포인트 발급 취소 -->
	<delete id="delete" parameterType="java.lang.Integer">
		delete 
		from point
		where ptCode=#{ptCode}	
	</delete>
	
	<!-- 발급된 포인트 수정 -->
	<update id="update" parameterType="PointDTO">
		update point
		set
		ptCode=#{ptCode},
		userId=#{userId},
		ptCost=#{ptCost},
		ptStart=#{ptStart}
		ptExpire=#{ptExpire}
		where cpCode=#{ptCode}
	</update>
	
	
	<!--  포인트 설정 전체조회 -->
	<select id="ptList" resultType="PointDTO">
		select grade, ptRate
		from pointset
	</select>
	
	<!-- 포인트설정 수정 -->
	<update id="ptUpdate" parameterType="PointDTO">
		update pointset
		set
		ptRate=#{ptRate}
		where grade = #{grade} 
	</update>
	



</mapper>